body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #83c6e0c5;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center;
}

/* Agregado estilo para el enlace de Inicio */
.container a {
    position: absolute;
    text-decoration: none;
    top: 10px;
    left: 10px;
    font-size: 15px;
    background-color: rgb(238, 12, 12);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

h1 {
    color: #333;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(255, 0, 0);
}
